In [1]:
import pandas as pd

In [8]:
personen=pd.read_csv("C:\Daten\Daten\MiD2023_B1_Datensatzpaket\CSV\MiD2023_Personen.csv")

In [9]:
personen=personen[(personen['P_HOFF2']>=0)&(personen['P_HOFF2']<=7)|(personen['P_HOFF2']==412)]

In [10]:
personen

,HP_ID,H_ID,P_ID,P_GEW,P_HOCH,MODE,MODE_HH,BASISAUF,PROXY,PROXY_01,...,bus28,tram28,bahn28,min_bab,min_ozmz,haustyp,hausnutz,wohnlage,quali_nv,quali_opnv
0,10000011,10000010,1,1.102951,218.652130,4,4,2,1,0,...,1,3,4,1,1,2,2,4,4,3
1,10000012,10000010,2,1.307253,259.153517,4,4,2,1,0,...,1,3,4,1,1,2,2,4,4,3
28,10001311,10001310,1,2.743726,543.923868,4,4,2,1,0,...,2,6,3,1,1,4,2,4,4,3
29,10001312,10001310,2,0.496422,98.412058,4,4,2,1,0,...,2,6,3,1,1,4,2,4,4,3
31,10001402,10001400,2,0.093970,18.628903,4,4,2,1,0,...,3,6,5,1,2,1,1,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420948,99882342,99882340,2,0.165005,32.711015,4,4,2,1,0,...,3,1,2,1,2,1,2,5,4,4
420955,99883091,99883090,1,0.291978,57.882514,4,4,2,1,0,...,1,3,5,1,1,1,1,6,4,3
420967,99884531,99884530,1,1.564641,310.178760,4,4,1,1,0,...,1,3,3,1,1,2,1,5,4,4
420977,99884951,99884950,1,0.742424,147.180212,4,4,2,1,0,...,1,1,3,1,1,1,1,6,4,4
420978,99884952,99884950,2,0.937035,185.760415,4,4,2,1,0,...,1,1,3,1,1,1,1,6,4,4

In [16]:
personen['P_ARB_VM1'] = personen.loc[:,'P_ARB_VM1'].apply(lambda x: 1 if x not in [96,99,404] else 2)

In [18]:
personen_synth=personen.loc[:,['BLAND','RegioStaR17','HP_SEX','HP_ALTER','haustyp','P_FS_PKW','P_NUTZ_AUTO','P_ARB_VM1','P_TAET','P_HOFF2','P_VAUTO','P_VRAD','P_VPED','arb_vm2']]
personen_synth.columns=['home_province','home_administrative','sex','age','housetype','driver_license','drive_regularly','commute_to_fixed_workplace','occupation','home_office_days','car_group','bicycle_group','other_group','mode_choice']

In [19]:
personen_synth.to_csv('personen_synth_germany.csv', index=False)